[submodule "govuk_template/govuk_template_play"]
	path = govuk_template/govuk_template_play
	url = git@github.com:alphagov/govuk_template_play.git
[submodule "govuk_template_play"]
	path = govuk_template_play
	url = git@github.com:alphagov/govuk_template_play.git
