@import uk.gov.hmrc.viewmodels.layout.LayoutConfiguration

@(formInstance: Form[_], config: LayoutConfiguration)(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.twirl.layout.html.main("Test Page", config) {

    <div class="grid-row">
        <div class="column-two-thirds">

            @page_header("Test Page")

            @form(controllers.routes.HomeController.index()) {

                @radios(
                    field        = formInstance("value"),
                    legend       = "Foo",
                    hiddenLegend = true,
                    inline       = true,
                    options      = Seq(
                        InputOption("true", "Yes"),
                        InputOption("false", "No")
                    )
                )
            }

        </div>
    </div>
}
