@()(implicit messages: Messages)

<ul class="platform-help-links">
    <li><a href="/help/cookies" target="_blank" data-sso="false" data-journey-click="footer:Click:Cookies">@messages("footer.links.cookies.text")</a></li>
    <li><a href="/help/privacy" target="_blank" data-sso="false" data-journey-click="footer:Click:Privacy policy">@messages("footer.links.privacy_policy.text")</a></li>
    <li><a href="/help/terms-and-conditions" target="_blank" data-sso="false" data-journey-click="footer:Click:Terms and conditions">@messages("footer.links.terms_and_conditions.text")</a></li>
    <li><a href="https://www.gov.uk/help" target="_blank" data-sso="false" data-journey-click="footer:Click:Help">@messages("footer.links.help_page.text")</a></li>
</ul>
